{
    "bridge": {
        "name": "Homebridge {{ homebridge_unitname }} - {{ansible_hostname}}",
        "username": "{{ homebridge_username }}",
        "port": 51827,
        "pin": "{{ homebridge_pin }}"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": 8581,
            "platform": "config"
        }
    ]
}
