[Unit]
Description=Runs Homebridge Server
Documentation=https://homebridge.io/
After=network-online.target
Wants=network-online.target

[Service]
User={{hb_user}}
Group={{hb_group}}
ExecStart={{podman_path}} start -a homebridge
ExecReload={{podman_path}} stop -t 2 homebridge
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
