{
  "private": true,
  "description": "This file keeps track of which plugins should be installed.",
  "dependencies": {
    "homebridge-bravia": "^2.4.6",
    "homebridge-dummy": "^0.4.0",
    "homebridge-nest": "^4.4.15",
    "homebridge-platform-wemo": "^2.1.2"
  }
}
